<table mat-table [dataSource]="questions" class="mat-elevation-z8">

    <ng-container matColumnDef="idQuestion">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.idQuestion}} </td>
    </ng-container>

    <ng-container matColumnDef="Intitule">
        <th mat-header-cell *matHeaderCellDef> Intitule </th>
        <td mat-cell *matCellDef="let element"> {{element.intitule}} </td>
    </ng-container>

    <ng-container matColumnDef="Supprimer">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="icon" aria-hidden="false" aria-label="supprimer" (click)="deleteQuestion(element)">delete
            </mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="Editer">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="icon" aria-hidden="false" aria-label="editer" (click)="editQuestion(element)">edit
            </mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div>
    <button mat-raised-button color="primary" routerLink="create">Ajouter une question</button>
</div>