<h2>Création d'une question</h2>
<div>
    <form class="column" ngNativeValidate (ngSubmit)="onSubmit(form)" #form="ngForm">


        <mat-form-field appearance="outline">
            <mat-label>Intitule</mat-label>
            <input name="intitule" type="text" matInput placeholder="intitule" [(ngModel)]="intitule" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Question 1</mat-label>
            <input type="text" name="1" placeholder="Question 1" maxlength="32" [(ngModel)]="libelleReponse1" required
                (ngModelChange)="checkInput()" matInput>
            <mat-checkbox class="1" [checked]="isChecked1" (change)="toggle($event,1)"
                [disabled]="libelleReponse1.length==0"></mat-checkbox>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Question 2</mat-label>
            <input type="text" name="2" placeholder="Question 2" maxlength="32" [(ngModel)]="libelleReponse2"
                (ngModelChange)="checkInput()" required matInput>
            <mat-checkbox class="2" [checked]="isChecked2" (change)="toggle($event,2)"
                [disabled]="libelleReponse2.length==0"></mat-checkbox>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Question 3</mat-label>
            <input type="text" name="3" placeholder="Question 3" maxlength="32" [(ngModel)]="libelleReponse3"
                (ngModelChange)="checkInput()" matInput>
            <mat-checkbox class="4" [checked]="isChecked3" (change)="toggle($event,3)"
                [disabled]="libelleReponse3.length==0"></mat-checkbox>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Question 4</mat-label>
            <input type="text" name="4" placeholder="Question 4" maxlength="32" [(ngModel)]="libelleReponse4"
                (ngModelChange)="checkInput()" matInput>
            <mat-checkbox class="5" [checked]="isChecked4" (change)="toggle($event,4)"
                [disabled]="libelleReponse4.length==0"></mat-checkbox>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Question 5</mat-label>
            <input type="text" name="5" placeholder="Question 5" maxlength="32" [(ngModel)]="libelleReponse5"
                (ngModelChange)="checkInput()" matInput>
            <mat-checkbox class="5" [checked]="isChecked5" (change)="toggle($event,5)"
                [disabled]="libelleReponse5.length==0"></mat-checkbox>
        </mat-form-field>



        <div>
            <button mat-raised-button color="warn" routerLink="/questions">Annuler</button>
            <button mat-raised-button color="primary" type="submit">Créer</button>
        </div>

    </form>
</div>