<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->

<div class="login-form">
    <div id="formContent">
        <form action="login" method="get">
            <div>
                <input type="text" id="login" matInput placeholder="Identifiant" class="fadeIn second" name="username" [(ngModel)]="username" required>
            </div>
            <div>
                <input matInput id="password" [type]="hide ? 'password' : 'text'" name="password" placeholder="Mot de passe" maxlength="24" [(ngModel)]="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>
            <div>
              <button class="loginButton" mat-raised-button color="primary" type="submit" (click)="login()">Se connecter</button>
            </div>
        </form>

    </div>
</div>
