/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Arial, sans-serif !important;
  font-size: 11px!important;
}
body {
  background-color: #f5f5f5;
}
h2{
  font-size: 14px !important;
  font-weight: bold;
}
