.custom-card{
  border: 1px solid lightgrey;
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  margin: 5px;
  div{
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
  }
}
.icon-style{
  width: 36px;
  cursor: pointer;
  margin-left: 10px;
}
