<h2>Création d'un questionnaire</h2>
<div>
  <form class="column" ngNativeValidate (ngSubmit)="onSubmit(form)" #form="ngForm">

    <mat-form-field appearance="outline">
      <mat-label>Intitulé</mat-label>
      <input name="intitule" matInput placeholder="Intitulé" [(ngModel)]=" this.questionnaireService.questionnaire.nomQuestionnaire" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea name="description" matInput placeholder="description" [(ngModel)]="this.questionnaireService.questionnaire.description" required rows="5"></textarea>
    </mat-form-field>

    <div *ngIf="questionnaireService.isModifier" style="margin-bottom: 10px">
      <button mat-raised-button color="primary" type="button" (click)="gererQuestions()">Gérer les questions</button>
    </div>
    <div>
      <div style="display: block; width: 100%" *ngIf="questionService.afficherQuestions">
        <app-question></app-question>
      </div>

      <div style="display: block; width: 100%" *ngIf="questionService.afficherReponses">
        <app-ajout-question></app-ajout-question>
      </div>
    </div>

    <div>
      <button mat-raised-button color="warn" class="cancel" (click)="questionnaireService.annuler()">Annuler</button>
      <button mat-raised-button color="primary" type="submit">Créer</button>
    </div>

  </form>
</div>

