<table mat-table [dataSource]="surveys" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.idQuestionnaire}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Nom">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.nomQuestionnaire}} </td>
    </ng-container>

    <!-- Autor Column -->
    <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="Date de creation">
        <th mat-header-cell *matHeaderCellDef> Date de creation </th>
        <td mat-cell *matCellDef="let element"> {{element.dateCreation}} </td>
    </ng-container>

    <ng-container matColumnDef="Supprimer">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="icon" aria-hidden="false" aria-label="supprimer" (click)="deleteSurvey(element)">delete</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="Editer">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="icon" aria-hidden="false" aria-label="editer">edit</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>

<div class="example-button-row">
    <button mat-raised-button color="primary" (click)="questionnaireService.ajouterSurvey()">Ajouter un
        questionnaire</button>
</div>